{
	"workingEnvironmentId": "{{we_id}}",
	"name": "{{aggregateName}}",
	"numberOfDisks": 2,
	"providerVolumeType": "{{providerType}}",
	"capacityTier": "S3",
	"diskSize": {
		"size": {{diskSize}},
		"unit": "TB"
		}
}