{
	"workingEnvironmentId": "{{we_id}}",
	"svmName": "{{svmName}}",
	"snapshotPolicyName": "default",
	"name": "{{volName}}",
        "aggregateName":"{{aggregateName}}",
	"providerVolumeType": "{{providerType}}",
	"verifyNameUniqueness": true,
	"size": {
		"size": {{volSize}},
		"unit": "TB"
	},
	"enableThinProvisioning": true,
	"enableDeduplication": true,
	"enableCompression": true
}