---
- name: Create CVO Environment
  hosts: localhost
  connection: local
  gather_facts: False
  tasks:
    - include_role:
        name: cvo
      when: otc_name is defined
    - include_role:
        name: aggregate
      vars:
        aggregateName: "{{item.aggrName}}"
        diskSize: "{{item.diskSize}}"
      with_items:
         - "{{ vars.aggrList }}"
      when: aggrList is defined
    - include_role:
        name: iscsiVolume
      vars:
        aggregateName: "{{ item.aggrName }}"
        volName: "{{ item.volName }}"
        iqn: "{{ item.iqn }}"
        os_name: "{{ item.os_name }}}"
        volSize: "{{ item.volSize }}"
      with_items:
        - "{{ vars.iscsiVolList }}"
      when: iscsiVolList is defined
    - include_role:
        name: volume
      vars:
        aggrName: "{{ item.aggrName }}"
        volName: "{{ item.volName }}"
        volSize: "{{ item.volSize }}"
      with_items:
        - "{{ vars.volList }}"
      when: volList is defined
        